.bobot{
margin:15px 0;
padding:15px;
background:#eff6ff;
border-radius:10px;
}

label{
display:block;
margin-top:15px;
font-weight:600;
}

input{
width:100%;
padding:12px;
margin-top:5px;
border:1px solid #cbd5e1;
border-radius:8px;
transition:.3s;
}

input:focus{
outline:none;
border-color:var(--primary);
}

button{
width:100%;
margin-top:20px;
padding:12px;
border:none;
border-radius:8px;
background:var(--primary);
color:white;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

button:hover{
background:var(--secondary);
}

.error{
display:none;
margin-top:15px;
padding:10px;
background:#fee2e2;
color:#dc2626;
border-radius:8px;
}

.hasil{
display:none;
margin-top:20px;
text-align:center;
padding:20px;
border-radius:10px;
}

.nilai-box h1{
font-size:40px;
}

.grade-A{
background:#86efac;
}

.grade-B{
background:#bef264;
}

.grade-C{
background:#fde047;
}

.grade-D{
background:#fdba74;
}

.grade-E{
background:#f87171;
color:white;
}